{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <div class="fos_user_user_show">
        <h2>Fiche User</h2>
        <div class="container-fluid well span6">
            <div class="row-fluid">
                <div class="col-md-4">
                    <img src="http://s9.postimg.org/uylsxjghr/people_dialer_photo.png" class="img-circle">
                </div>

                <div class="span2 pull-right" style="margin-right: 150px;">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="btn btn-warning"><i
                                                class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i>&nbsp;&nbsp;Edition du profil</span></a>
                            </li>
                            <li><a href="{{ path('cms_user_del', {'id': user.id}) }}"><span class="btn btn-danger"><i
                                                class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Supprimer le profil</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <h3>{{ user.username|capitalize }}</h3>
                    <p>Email: {{ user.email }}</p>
                    <p>Role: {{ user.roles|join(' , ') }}</p>
                    <p>Ville: {{ user.city }}</p>
                    {% if user.dateInscription|date('d/m/Y') is not null %}
                        <p>Inscrit le: {{ user.dateInscription|date('d/m/Y') }} </p>
                    {% endif %}
                    <p>Age: {{ user.age }}</p>
                    <p>Dernière connexion le: {{ user.lastlogin|date('d/m/Y') }}</p>
                    <p>Participation: </p>
                    {% if user.url is not null %}
                        <p><a href="{{ user.url }}">Site Perso</a></p>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-8">
            </div>
        </div>
    </div>
{% endblock %}