{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <div class="fos_user_user_show">
        <h2>Fiche UTilisateurs</h2>
        <div class="container-fluid well span6">
            <div class="row-fluid">
                <div class="col-md-4">
                    {% if user.avatar.url is not null %}
                        <img src="{{ asset(user.avatar.uploadDir ~ '/' ~ user.avatar.id ~ '.' ~ user.avatar.url) }}" alt="{{ user.avatar.alt }}" width="200" height="200" class="img-circle">
                    {% elseif user.avatar.urlEnligne is defined %}
                        <img src="{{ user.avatar.urlEnligne }}" alt="{{ user.avatar.altEnligne }}" class="center-block img-responsive img-circle" style="max-height:160px;">
                    {% else %}
                        <img src="http://s9.postimg.org/uylsxjghr/people_dialer_photo.png" class="img-circle">
                    {% endif %}
                </div>

                <div class="span2 pull-right" style="margin-right: 150px;">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cms_user_participation', {'id': user.id}) }}"><span
                                            class="btn btn-primary"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
                                    &nbsp;&nbsp;Participation</span></a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}"><span class="btn btn-warning"><i
                                                class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i>&nbsp;&nbsp;Edition du profil</span></a>
                            </li>
                            <li><a href="{{ path('cms_user_del', {'id': user.id}) }}"><span class="btn btn-danger"><i
                                                class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Supprimer le profil</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <h3>{{ user.username|capitalize }}</h3>
                    <p>Email: {{ user.email }}</p>
                    <p>Role: {{ user.roles|join(' , ')|lower }}</p>
                    <p>Ville: {{ user.city }}</p>
                    {% if user.dateInscription|date('d/m/Y') is not null %}
                        <p>Inscrit le: {{ user.dateInscription|date('d/m/Y') }} </p>
                    {% endif %}
                    <p>Age: {{ user.age }}</p>
                    <p>Dernière connexion le: {{ user.lastlogin|date('d/m/Y') }}</p>
                    {% if user.url is not null %}
                        <p><a href="{{ user.url }}">Site Perso</a></p>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-8">
                <a class="btn btn-primary" href="{{ path('fos_message_inbox') }}">Inbox &nbsp;&nbsp;<i class="fa fa-comments" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

