{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Modifier les paramètres de votre blog - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Modifier les paramètres de votre blog</h2>

    {{ include("CMSBlogBundle:Custom:form.html.twig") }}

    <p>
        <a href="{{ path('cms_custom_index') }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour au menu
        </a>

        <a href="{{ path('cms_custom_names_delete', {'id':blogNames.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer les paramètres
        </a>
    </p>

{% endblock %}

{% block javascripts %}{{ parent() }}
    {# Utilisation du select2 pour affichage des couleur dans le form#}
<script type="text/javascript">

    $(document).ready(function () {
        /* To display Font Awezome colorized in ChoiceType */
        function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            var $state = $(
                '<span><i class="fa fa-circle' + ' ' + state.element.value.toLowerCase() + '"> ' + state.text + '</i></span>'
            );
            return $state;
        }

        /* Initializing select-2 */
        $('select').select2({
            /*To hide the search module*/
            minimumResultsForSearch: Infinity,
            /*To display function on top : named formatstate*/
            templateResult: formatState

        });

    });
</script>
{% endblock %}

