{% extends "CMSBlogBundle::layout.html.twig" %}

{% block javascripts_head %}{{ parent() }}
    <script>
        tinymce.init({
            selector: '.tinymce',
            language_url: '{{ asset('bundles/stfalcontinymce/vendor/tinymce/langs/fr_FR.js') }}',
            plugins: 'link, emoticons, codesample, table image imagetools textcolor fullscreen print',
            toolbar: "alignleft aligncenter alignright alignjustify bold italic image link bullist numlist outdent indent forecolor backcolor emoticons codesample fullscreen print imagetools"
        });
    </script>
{% endblock %}

{% block title %}
    Modifier un article - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Modifier un article</h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right btn-sm" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip bg-info">
            <ul>
                <li>Attention pour l'instant l'upload d'image n'est pas possible</li>
            </ul>
        </div>
    </div>
    <br><br>

    {{ include("CMSBlogBundle:Article:form.html.twig") }}

    <p>
        <a href="{{ path('cms_blog_fiche', {'id': article.id}) }}" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'article
        </a>
    </p>

{% endblock %}

