{# cette vue n'herite de presonne car elle sera incluse dans d'autres vue #}

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal','novalidate': 'novalidate'}}) }}



    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {% if form.date is defined %}
        {# Génération du label + error + widget pour un champ. #}
        {{ form_row(form.date) }}
    {% endif %}

    {% if form.title is defined %}
        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.title, "Titre de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.title) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {% endif %}
    {# Idem pour un autre champ. #}
    {% if form.content is defined %}
        <div class="form-group">
            {{ form_label(form.content, "Contenu de l'article", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.title) }}
            <div class="col-sm-10">
                {{ form_widget(form.content, {'attr': {'class': 'tinymce'}}) }}
            </div>
        </div>
    {% endif %}
    {% if form.author is defined %}
        {{ form_row(form.author) }}
    {% endif %}

    {% if form.published is defined %}
        {{ form_row(form.published) }}
    {% endif %}


    {% if form.image.file is defined %}
        <div class="form-group">
            {{ form_label(form.image.file, "Fichier Image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.image.file) }}
            <div class="col-sm-10">
                {{ form_widget(form.image.file) }}
            </div>
        </div>
    {% endif %}

    {% if form.image.urlEnligne is defined %}
        <div class="form-group">
            {{ form_label(form.image.urlEnligne, "Url de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.image.urlEnligne) }}
            <div class="col-sm-10">
                {{ form_widget(form.image.urlEnligne) }}
            </div>
        </div>
    {% endif %}

    {% if form.image.altEnligne is defined %}
        <div class="form-group">
            {{ form_label(form.image.altEnligne, "Alt de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.image.altEnligne) }}
            <div class="col-sm-10">
                {{ form_widget(form.image.altEnligne) }}
            </div>
        </div>
    {% endif %}

    {% if form.categories is defined %}
        <div class="form-group">
            {{ form_label(form.categories, "Catégories", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {{ form_errors(form.categories) }}
            <div class="col-sm-10">
                {{ form_widget(form.categories) }}
            </div>
        </div>
    {% endif %}


    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}
    <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter</button>

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

