{% extends 'CMSBlogBundle::layout.html.twig' %}

{% block cms_body %}

    <h2>Liste des Articles</h2>
    <br>

    {# On affiche tous les messages flash #}
    {{ include('CMSCoreBundle:Core:flashbag.html.twig') }}

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right btn-sm" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>
        <div class="panel-flip">
            <p class="bg-info">Ici vous pouvez gérer vos articles en cliquant dessus ou bien en créer de nouveaux
            </p>
        </div>

        <a href="{{ path('cms_blog_add') }}">
            <button class="btn btn-primary pull-left btn-sm" style="margin-left: 2em;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Créer
                un article
            </button>
        </a>

    </div>
    <br><br>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="myTable">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Etat</th>
            <th>Catégories</th>
        </tr>
        </thead>
        <tbody>
        {% for article in listArticles %}
        <tr href="{{ path('cms_blog_fiche', {'id': article.id}) }}" title="Accèder à l'article" class="pointer">
            <td>{{ article.title|striptags|truncate(40) }}</td>
            <td>{{ article.content|striptags|truncate(55)|raw }}</td>
            <td>{{ article.author }}</td>
            <td>{{ article.date|date('d/m/Y') }}</td>
            {% if article.published %}
                <td>Publié</td>
            {% else %}
                <td>Non publié</td>
            {% endif %}
            <td>
                {% for categorie in article.categories %}
                    {{ categorie.name }}
                {% endfor %}
            </td>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}{{ parent() }}
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "sProcessing": "Traitement en cours ...",
                    "sLengthMenu": "Afficher _MENU_ lignes",
                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",
                    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": Trier par ordre croissant",
                        "sSortDescending": ": Trier par ordre décroissant"
                    }
                }
            });
        });

        $('#myTable').on('click', 'tbody tr', function () {
            window.location.href = $(this).attr('href');
        });

    </script>
{% endblock %}