<h2 class="text-center">Enregistrez-vous afin de vous-même publier des articles</h2>


<div class="form-group col-md-8 col-md-offset-2 well col-xs-6 col-xs-offset-3">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    {{ form_errors(form) }}

    <label for="username"> {{ form_label(form.username) }}</label>
    <div class="input-group">
        <span class="input-group-addon" style="background-color: lightskyblue;"><i style="color:white;" class="fa fa-user"
                                                                                   aria-hidden="true"></i></span>
        {{ form_widget(form.username) }}
    </div>

    <label for="email">{{ form_label(form.email) }}</label>
    <div class="input-group">
        <span class="input-group-addon" style="background-color: lightskyblue;"><i style="color:white;" class="fa fa-envelope-o" aria-hidden="true"></i></span>
        {{ form_widget(form.email) }}
    </div>

    <label for="password">{{ form_label(form.plainPassword.first) }}</label>
    <div class="input-group">
                 <span class="input-group-addon" style="background-color: lightskyblue;"><i style="color:white;" class="fa fa-unlock-alt"
                                                                                            aria-hidden="true"></i>
</span>
        {{ form_widget(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <label for="password">{{ form_label(form.plainPassword.second) }}</label>
    <div class="input-group">
                 <span class="input-group-addon" style="background-color: lightskyblue;"><i style="color:white;" class="fa fa-unlock-alt"
                                                                                            aria-hidden="true"></i>
</span>
        {{ form_widget(form.plainPassword.second) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>


    {{ form_rest(form) }}

    <br>
    <button class="btn btn-primary btn-sm" type="submit"
            value="{{ 'registration.submit'|trans }}">Créer son compte
    </button>

    {{ form_end(form) }}
</div>
