<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('cms_core_home') }}" title="Retour Accueil">MyCmS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="navbar-form navbar-left">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <span style="color:lightgreen">Hello {{ app.user.username|capitalize }}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary btn-sm"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Mon Compte</a>
                    <a href="{{ path('fos_message_inbox') }}" class="btn btn-primary btn-sm"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; {% if fos_message_nb_unread() >=1 %}{{ fos_message_nb_unread() }} non lu(s){% else %}0{% endif %}</a>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <button class="btn btn-danger btn-sm"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Déconnexion
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">
                        <button class="btn btn-success btn-sm"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Connexion</button>
                    </a>
                    <a href="{{ path('fos_user_registration_register') }}">
                        <button class="btn btn-primary btn-sm"><i class="fa fa-user-plus" aria-hidden="true"></i>
                            </i>&nbsp;&nbsp;
                            S'enregistrer
                        </button>
                    </a>
                {% endif %}
            </ul>
            <nav class="navbar-form navbar-right">
                {{ render(controller('CMSBlogBundle:Menu:isPublished')) }}
            </nav>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>