{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer la page de contact existante - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Supprimer une page de contact</h2>

    <p>
        Etes-vous certain de vouloir supprimer la page de contact "{{ pageContact.name }}" ?
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('cms_contact_page_fa_delete', {'id': pageContact.id}) }}" method="post">
        <a href="{{ path('cms_contact_index') }}" class="btn btn-success">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la rubrique
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <input type="submit" value="Supprimer" class="btn btn-danger"/>
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}