{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer une catégorie - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Supprimer une catégorie</h2>

    <p class="alert alert-warning">
        Etes-vous certain de vouloir supprimer la catégorie "{{ category.name }}" ?
    </p>

    <form action="{{ path('cms_category_delete', {'id': category.id}) }}" method="post">
        <a href="{{ path('cms_category_list', {'id': category.id}) }}" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'article
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Supprimer
        </button>
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}