<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}


    {% if form.name is defined %}
        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.name, "Choisir un nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-md-6">
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {% endif %}


    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Ajouter</button>
    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

</div>