{% extends 'CMSBlogBundle::layout.html.twig' %}

{% block cms_body %}
    <h2>Gestion des Menus</h2>

    {#On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message flash : {{ message }}</div>
    {% endfor %}


    <div class="row">
        <h4>Liste des catégories dans le menu : {{ menu.nom|capitalize }}</h4>
        <div class="col-md-8 col-md-offset-2">

            <div class="well" style="margin-top: 20px;">
                {% for category in menu.categories %}
                    <ul>
                        <li>{{ category.name }}{% if not loop.last %}, {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <p>
            <a href="{{ path('cms_menu_index') }}" class="btn btn-success btn-sm">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour à la liste
            </a>
            {% if is_granted('ROLE_AUTEUR') %}
                <a href="{{ path('cms_menu_edit', {'id': menu.id}) }}" class="btn btn-warning btn-sm">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier le menu
                </a>
                <a href="{{ path('cms_menu_delete', {'id': menu.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Supprimer le menu
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}