<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}CMS{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css"
              href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
        {% stylesheets filter="cssrewrite, ?scssphp"
        'bundles/cmsblog/css/main.css'
        'bundles/cmsblog/css/blog.css' %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
{{ include('CMSCoreBundle:Core:menu.html.twig') }}

{# include the user menu behind! #}


<div class="container">
    {{ render(controller('CMSBlogBundle:Custom:showBlogName')) }}

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Mon Menu</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('cms_core_home') }}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Accueil</a>
                </li>
                {% if is_granted('ROLE_AUTEUR') %}
                    <li><a href={{ path("cms_custom_index") }}> <i class="fa fa-cog" aria-hidden="true"></i></i>&nbsp;&nbsp;Paramètres
                            généraux
                        </a></li>
                    <li><a href="{{ path('cms_article_list') }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;&nbsp;Gestion
                            des articles</a></li>
                    <li><a href="{{ path('cms_category_list') }}"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Gestion
                            des Catégories</a></li>
                    <li><a href="{{ path('cms_user_list') }}"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Gestion
                            des Users</a></li>
                    <li><a href="{{ path('cms_menu_index') }}"><i class="fa fa-bars" aria-hidden="true"></i>
                            &nbsp;&nbsp;Gestion des Menus</a></li>
                    <li><a href="{{ path('cms_contact_index') }}"><i class="fa fa-address-book"
                                                                     aria-hidden="true"></i></i>
                            &nbsp;&nbsp;Gestion page de contact</a></li>

                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user-circle-o"
                                                                         aria-hidden="true"></i>&nbsp;&nbsp;Mon
                            compte</a></li>
                {% endif %}

            </ul>

            <h4>Derniers articles</h4>
            {{ render(controller("CMSBlogBundle:Article:menu", {'limit': 3})) }}
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
                {# message flas#}
                {{ include('CMSCoreBundle:Core:flashbag.html.twig') }}
                {#end message flash#}
                {% block modal %}{% endblock %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p> Developed by Julie ALARY {{ 'now'|date('Y') }} </p>
    </footer>
</div>

{% block javascripts %}

    {# bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{{ asset('bundles/cmsblog/js/main.js') }}"></script>
{% endblock %}

</body>
</html>