{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer le carousel - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Supprimer le carousel</h2>

    <p class="alert alert-warning">
        Etes-vous certain de vouloir supprimer le carousel "{{ carousel.nom }}" ?
    </p>

    <form action="{{ path('cms_custom_carousel_delete', {'id': carousel.id}) }}" method="post">
        <a href="{{ path('cms_custom_carousel') }}" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour aux paramètres
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Supprimer
        </button>
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}