{% extends 'CMSBlogBundle::layout.html.twig' %}

{% block title %}
    Gestion d'un carousel - {{ parent() }}
{% endblock %}

{% block cms_body %}
    <h2>Gestion d'un carousel</h2>
    {% set newArray = [] %}
    <div class="row">

        {% include('CMSCoreBundle:Core:flashbag.html.twig') %}

            <div class="flip">
                <h3>
                    <button class="btn btn-info btn-xs pull-right" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                    </button>
                </h3>



        <div class="panel-flip bg-info">
            <ul>
                <li>Ici vous pouvez créer un carousel</li>
                <li>Dans un premier temps lui attribuer un nom</li>
                <li>Dans un second temps lui attribuer des photos (trois au maximum)</li>
                <li>Et pour finir le publier ou non et voir son brouillon...</li>
                <li>Bientot possibilité sera faite de créer plusieurs carousels</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="row">

        {% if carousel is empty or carousel is null %}
            <div class="col-md-6 col-xs-6">
                <a href="{{ path('cms_custom_carousel_add') }}">Ajouter un Carousel &nbsp;&nbsp;<i
                            class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a><br>
            </div>
        {% else %}
            <div class="col-md-6 col-xs-6">
                <a title="Supprimer l'existant pour en créer un autre" class="pointer">Ajouter un Carousel</a>
            </div>




            {#{% for key, galleries in gallery %}#}
            {% if gallery|length not in newArray %} {# je calcule la longueur de mon tableau et je groupe#}
                {% set newArray = newArray|merge([gallery|length]) %}
                {% if gallery|length <3 %}
                    <div class="col-md-6 col-xs-6">
                        <a href="{{ path('cms_custom_carousel_add_gallery') }}">Ajouter des photos&nbsp;&nbsp;<i
                                    class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                    </div>
                {% else %}
                    <div class="col-md-6 col-xs-6">
                        <a title="Vous ne pouvez mettre que 3 photos !" class="pointer">Ajouter des photos</a>
                    </div>
                {% endif %}
            {% endif %}
            {#{% endfor %}#}

            <div class="col-md-6 col-xs-6">
                <a href="{{ path('cms_custom_carousel_show_test') }}">Test Slider&nbsp;&nbsp;<i
                            class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
            </div>

        {% endif %}


    </div>


    {% for key, carousels in carousel %}
        {% if carousels %}
            <div class="row">
            <h3>Carousel existant</h3>
            {% for key, carousels in carousel %}
                {% if carousels.nom is not empty %}
                    {% set newArray = newArray|merge([carousels.nom]) %}
                    <h4>Nom du carousel : {{ carousels.nom|capitalize }}</h4>
                {% endif %}
            {% endfor %}

            {% for key, galleries in gallery %}
                <div class="col-md-3 col-xs-4">
                    <div class="thumbnail">
                        {% if galleries.carousel.id == carousels.id %}

                            <img src="{{ asset(galleries.uploadDir ~ '/' ~ galleries.id ~ '.' ~ galleries.url) }}"
                                 alt="{{ galleries.alt }}"/>

                            <div class="caption">
                                <p>
                                    <a href="{{ path('cms_custom_carousel_edit_gallery', {'id': galleries.id}) }}"
                                       class="btn btn-warning btn-xs" role="button"><i
                                                class="glyphicon glyphicon-edit"></i></a>
                                    <a href="{{ path('cms_custom_carousel_delete_gallery', {'id': galleries.id}) }}"
                                       class="btn btn-danger btn-xs" role="button"><i
                                                class="glyphicon glyphicon-trash"></i></a>
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        {% endif %}
        </div>
        <div class="row">
            <p>
                {% if is_granted('ROLE_AUTEUR') %}
                    <a href="{{ path('cms_custom_index') }}" class="btn btn-success btn-sm">
                        <i class="glyphicon glyphicon-edit"></i>
                        Retour à la page précédente
                    </a>
                    {% if carousels.id not in newArray %}
                        {% set newArray = newArray|merge([carousels.id]) %}
                        <a href="{{ path('cms_custom_carousel_edit', { 'id': carousels.id } ) }}"
                           class="btn btn-warning btn-sm">
                            <i class="glyphicon glyphicon-edit"></i>
                            Modifier le carousel
                        </a>
                        <a href="{{ path('cms_custom_carousel_delete', { 'id': carousels.id }) }}"
                           class="btn btn-danger btn-sm">
                            <i class="glyphicon glyphicon-trash"></i>
                            Supprimer le carousel
                        </a>
                    {% endif %}
                {% endif %}
            </p>
        </div>


    {% endfor %}
{% endblock %}



