{% extends "CMSBlogBundle::layout.html.twig" %}

{% block title %}
    Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block cms_body %}

    <h2>Supprimer un utilisateur</h2>

    <p class="alert alert-warning">
        Etes-vous certain de vouloir supprimer l'utilisateur : "{{ user.username }}", cette action est irréveresible ?
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formulaire #}
    <form action="{{ path('cms_user_del', {'id': user.id}) }}" method="post">
        <a href="{{ path('cms_user_list') }}" class="btn btn-success btn-sm">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'utilisateur
        </a>
        {# Ici j'ai écrit le bouton de soumission à la main #}
        <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Supprimer
        </button>
        {# Ceci va générer le champ CSRF #}
        {{ form_rest(form) }}
    </form>

{% endblock %}