{% extends "CMSCoreBundle::layout.html.twig" %}


{% block title %}
    Fiche Users
{% endblock %}

{% block body %}
    <h2>Fiche User</h2>
    <div class="container-fluid well span6">
        <div class="row-fluid">

            <div class="row">
                <div class="span2 pull-right" style="margin-right: 150px;">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            Action
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('cms_user_edit', {'id': users.id}) }}"><span class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                    Modifier un rôle</a></li>
                            <li><a href="{{ path('cms_user_del', {'id': users.id}) }}"><span class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                    Supprimer un utilisateur</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <img src="http://s9.postimg.org/uylsxjghr/people_dialer_photo.png" class="img-circle">
            </div>
            {% if users is defined %}
            <div class="col-md-8">
                <h3>{{ users.username|capitalize }}</h3>
                <h6>Email: {{ users.email }}</h6>
                <h6>Role: {{ users.roles|join(' , ') }}</h6>
                <h6>Ville</h6>
                <h6>Inscrit le</h6>
                <h6>Dernière connexion le: {{ users.lastlogin|date('d/m/Y') }}</h6>
                <h6>Participation</h6>
                <h6><a href="#">Lien</a></h6>
            </div>

        </div>
        {% endif %}
        <div class="col-md-8">
        </div>
    </div>

{% endblock %}
