{% extends "CMSCoreBundle::layout.html.twig" %}

{% block stylesheets %}{{ parent() }}
    <link rel="stylesheet" src="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
{% endblock %}

{% block title %}
    Liste des Utilisateurs
{% endblock %}

{% block body %}

    <h2>Tableau des Utilisateurs</h2>

    <div class="row">
        <div class="flip">
            <h3>
                <button class="btn btn-info pull-right btn-sm" style="margin-right: 2em;"><i class="fa fa-info" aria-hidden="true"></i>&nbsp;&nbsp;Aide
                </button>
            </h3>
        </div>

        <div class="panel-flip">
            <p class="bg-info">Ici en cliquant sur un des utilisateurs vous allez avoir accès à sa fiche profil,
                possibilité de supprimer un profil ou tout simplement changer ses droits, attention la suppression est irréversible</p>
        </div>
    </div>
    <br><br>
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="myTable">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Date d'inscription</th>
            <th>Dernière Connexion</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for util in users %}
            <tr href="{{ path('cms_user_fiche', {'id': util.id}) }}" class="pointer">
                <td>{{ util.username|title }}</td>
                <td>{{ util.email }}</td>
                <td>{{ util.dateInscription|date('d/m/Y') }}</td>
                <td>{{ util.lastlogin|date('d/m/Y') }}</td>
                <td>{{ util.roles|join(' , ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}



{% block javascripts %}{{ parent() }}
    <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "sProcessing": "Traitement en cours ...",
                    "sLengthMenu": "Afficher _MENU_ lignes",
                    "sZeroRecords": "Aucun résultat trouvé",
                    "sEmptyTable": "Aucune donnée disponible",
                    "sInfo": "Lignes _START_ à _END_ sur _TOTAL_",
                    "sInfoEmpty": "Aucune ligne affichée",
                    "sInfoFiltered": "(Filtrer un maximum de_MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Chercher:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Chargement...",
                    "oPaginate": {
                        "sFirst": "Premier", "sLast": "Dernier", "sNext": "Suivant", "sPrevious": "Précédent"
                    },
                    "oAria": {
                        "sSortAscending": ": Trier par ordre croissant",
                        "sSortDescending": ": Trier par ordre décroissant"
                    }
                }
            });
        });

        $('#myTable').on('click', 'tbody tr', function () {
            window.location.href = $(this).attr('href');
        });
    </script>
{% endblock %}